* {
	padding: 0;
	margin: 0;
	border:0;
	outline: 0;
	box-sizing:border-box;
}


.wrapper {
	width: 449px;
	height: 453px;
	padding: 15px 6px 8px 7px;
	margin: 0 auto;
	background: url("../images/bg-form.jpg")0 0 repeat-x;
	font-family: "Arial", sans-serif;
}	
	.wrapper h2 {
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
	}
		.tab-content {
			background-color: #fff;
			position: relative;
			z-index: 10;
			height: 352px;
		}
			.wrap-form li {
				width: 214px;
				background:url("../images/tab.png")0 0 no-repeat;
				margin-bottom: 0;
				position: relative;
				z-index:1; 
				margin-bottom: -1px;
			}
			.wrap-form li:first-child{
				margin-right: 7px;
			}
			.wrap-form li.active {
				background: transparent;
			}
				.wrap-form li a {
					border:none;
					text-align: center;
					text-transform: uppercase;
					color: #fff;
					font-size: 12px;
				}
					.wrap-form li a:hover {
						background-color: none;
					}
				.wrap-form li.active > a{
					background:url("../images/active-tab.png")transparent 0 0 no-repeat;
					color: #1e99c3;
				}
